:root {

    --gray1: #333;
    --gray2: #535353;
    --gray3: #7f7f7f;
    --gray4: #dbdada;
    --gray5: #6c6c6c;

}

.navigation-bar {

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: var(--gray2);
    border-top: 2px solid var(--gray5);
    border-bottom: 2px solid var(--gray5);
    width: 100%;

}

.bar-category-name {

    padding: 0 1em;
    align-self: center;

}

.bar-buttons {

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.button-container {

    display: flex;

}

nav ul li {
    list-style-type: none;
    margin: 0 1em;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

a span {
    padding: 6px;
}
a span:hover {
    background-color: var(--gray3);
    border-radius: 5px;
}

body {

    width: 100vw;
    font-family: consolas;
    background-color: rgb(60, 60, 60);

    display: flex;
}

h1{
    margin: 10px;
    font-size: 32px;
}

h3{
    color: aliceblue;
    font-size: 20px;
}
