:root {
    --background-body: #C7C7C7;
    --background-container: #454545;
    --element-body: #545454;
    --button-color: #838383;
}

.top-navigation {
    background-color: rgb(89, 89, 89);
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
    width: 100%;
}

.button-container {

    display: flex;

}

li {
    list-style-type: none;
    padding: 3px;
    margin: 5px;
}

body {
    font-family: consolas;
    background-color: rgb(60, 60, 60);

    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

h1{
    margin: 10px;
    font-size: 32px;
}

h3{
    color: aliceblue;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}