:root {

    --gray1: #333;
    --gray2: #535353;
    --gray3: #7f7f7f;
    --gray4: #dbdada;

}

.navigation-bar {

    display: flex;
    background-color: var(--gray3);
    border-bottom: 2px solid var(--gray4);
    width: 100%;

}

.bar-category-name {

    align-self: center;
    border-right: var(--gray4);

}

.bar-buttons {

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.button-container {

    display: flex;

}

li {
    list-style-type: none;
    padding: 3px;
    margin: 5px;
}

body {

    width: 100vw;
    font-family: consolas;
    background-color: rgb(60, 60, 60);

    display: flex;
}

h1{
    margin: 10px;
    font-size: 32px;
}

h3{
    color: aliceblue;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}